.card {
   padding: 16px;
   display: inline-block;
   box-sizing: border-box;
   border-radius: 3%;
   width: 25%;
   position: relative;
}

.wrap-card-colors {
   position: absolute;
   top: -16px;
   left: -10px;
   opacity: 0;
}

.card:hover .wrap-card-colors {
   opacity: 1;
   transition: opacity 0.2s linear;
}

.card-options {
   width: 32px;
   height: 32px;
   box-sizing: border-box;
   border-radius: 50%;
   border: 2px solid rgba(0, 0, 0, 0.2);
   text-indent: -9999px;
   overflow: hidden;
   display: inline-block;
   background-color: #fff;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
}
.card-content[contenteditable=true] {
   outline: 2px dashed rgba(0, 0, 0, 0.6);
}
.card_delete {
   background-image: url('../../images/delete.png');
   background-size: 100%;
}

.card_edit {
   background-image: url('../../images/edit.png');
   background-size: 100%;
}

.card-colors.isActive {
   border-width: 4px;
}

[data-color="first"] {
   background-color: #47b8e0;
}

[data-color="second"] {
   background-color: #ff7473;
}

[data-color="third"] {
   background-color: #60c5ba;
}

[data-color="fourth"] {
   background-color: #feee7d;
}
