.header {
   background-color: #47b8e0;
   height: 40px;
   padding-top: 8px;
   padding-bottom: 8px;
}

.header-title {
   color: #B3DAEE;
   display: inline;
   vertical-align: middle;
}

.header-menu {
   float: right;
}

.header-button {
   background-color: #282c37;
   font-size: 16px;
   color: #FFF;
   box-sizing: content-box;
   border: none;
   height: 22px;
   padding: 8px;
   display: inline-block;
}

.header-button:first-child {
   margin-right: 15px;
}
